#  Dataframe manipulation with Pandas
For this section, you are only allowed to use pandas or maybe numpy

Some text files with data from identify people by RENIEC from 2014 through 2020 (pob_identifi cada_YYYY.txt) will be share to you. Before you begin to answer any question in this section, you have to load these files and consolidate them into a single DataFrame (df).

## How many nonresident male were identified from 2018 through 2019?

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_2014 = pd.read_csv('pob_identificada_2014.txt', delimiter=',', header=0)
df_2014_N=df_2014.assign(PERIODO=2014)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
np.savetxt(
    'df_2014_N.txt',
    df_2014_N.values,
    fmt='%s',
    header=' '.join(df_2014_N.columns),
    comments=''
)

In [5]:
df_2014_N.head()

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,315,2014
1,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,337,2014
2,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,311,2014
3,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,302,2014
4,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,276,2014

In [6]:
df_2015 = pd.read_csv('pob_identificada_2015.txt', delimiter=',', header=0)
df_2015_N=df_2015.assign(PERIODO=2015)
np.savetxt(
    'df_2015_N.txt',
    df_2015_N.values,
    fmt='%s',
    header=' '.join(df_2015_N.columns),
    comments=''
)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_2015_N.head()

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,285,2015
1,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,343,2015
2,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,335,2015
3,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,311,2015
4,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,301,2015

In [8]:
df_2016 = pd.read_csv('pob_identificada_2016.txt', delimiter=',', header=0)
df_2016_N=df_2016.assign(PERIODO=2016)
np.savetxt(
    'df_2016_N.txt',
    df_2016_N.values,
    fmt='%s',
    header=' '.join(df_2016_N.columns),
    comments=''
)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df_2016_N.head()

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,342,2016
1,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,312,2016
2,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,347,2016
3,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,328,2016
4,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,304,2016

In [10]:
df_2017 = pd.read_csv('pob_identificada_2017.txt', delimiter=',', header=0)
df_2017_N=df_2017.assign(PERIODO=2017)

np.savetxt(
    'df_2017_N.txt',
    df_2017_N.values,
    fmt='%s',
    header=' '.join(df_2017_N.columns),
    comments=''
)
    
df_2017_N.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,352,2017
1,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,357,2017
2,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,312,2017
3,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,345,2017
4,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,324,2017

In [11]:
df_2018 = pd.read_csv('pob_identificada_2018.txt', delimiter=',', header=0)
df_2018_N=df_2018.assign(PERIODO=2018)

np.savetxt(
    'df_2018_N.txt',
    df_2018_N.values,
    fmt='%s',
    header=' '.join(df_2018_N.columns),
    comments=''
)
    
df_2018_N.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,336,2018
1,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,366,2018
2,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,361,2018
3,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,311,2018
4,Nacional,10101,10101,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,347,2018

In [12]:
df_2019 = pd.read_csv('pob_identificada_2019.txt', delimiter=',', header=0)
df_2019_N=df_2019.assign(PERIODO=2019)   

np.savetxt(
    'df_2019_N.txt',
    df_2019_N.values,
    fmt='%s',
    header=' '.join(df_2019_N.columns),
    comments=''
)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df_2019_N.head()

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101,10101.0,América,América,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,352,2019
1,Nacional,10101,10101.0,América,América,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,355,2019
2,Nacional,10101,10101.0,América,América,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,365,2019
3,Nacional,10101,10101.0,América,América,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,360,2019
4,Nacional,10101,10101.0,América,América,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,311,2019

In [94]:
df_2020 = pd.read_csv('pob_identificada_2020.txt', delimiter=',', header=0)
df_2020_N=df_2020.assign(PERIODO=2020)   

np.savetxt(
    'df_2020_N.txt',
    df_2020_N.values,
    fmt='%s',
    header=' '.join(df_2020_N.columns),
    comments=''
)

In [95]:
df_2020_N.head()

,RESIDENCIA,UBIGEO_RENIEC,UBIGEO_INEI,CONTINENTE,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,SEXO,EDAD,CANTIDAD,PERIODO
0,Nacional,10101.0,10101.0,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,0,198,2020
1,Nacional,10101.0,10101.0,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,1,371,2020
2,Nacional,10101.0,10101.0,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,2,355,2020
3,Nacional,10101.0,10101.0,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,3,365,2020
4,Nacional,10101.0,10101.0,América,Perú,Amazonas,Chachapoyas,Chachapoyas,Hombre,4,357,2020

In [96]:
Total_periodo=pd.concat([df_2014_N ,df_2015_N,df_2016_N, df_2017_N,df_2018_N,df_2019_N,df_2020_N], ignore_index=True, axis=0)
Total_periodo.shape

(2726214, 12)

In [97]:
print(df_2014_N.shape)
print(df_2015_N.shape)
print(df_2016_N.shape)
print(df_2017_N.shape)
print(df_2018_N.shape)
print(df_2019_N.shape)
print(df_2020_N.shape)

(395645, 12)
(354724, 12)
(359233, 12)
(413269, 12)
(416935, 12)
(420843, 12)
(365565, 12)

In [98]:
np.savetxt('Total_periodo.txt',Total_periodo,fmt='%s', header=','.join(af))

In [99]:
df=Total_periodo

In [100]:
df.columns

Index(['RESIDENCIA', 'UBIGEO_RENIEC', 'UBIGEO_INEI', 'CONTINENTE', 'PAIS',
       'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SEXO', 'EDAD', 'CANTIDAD',
       'PERIODO'],
      dtype='object')

In [101]:
df.dtypes

RESIDENCIA       object
UBIGEO_RENIEC    object
UBIGEO_INEI      object
CONTINENTE       object
PAIS             object
DEPARTAMENTO     object
PROVINCIA        object
DISTRITO         object
SEXO             object
EDAD              int64
CANTIDAD          int64
PERIODO           int64
dtype: object

In [102]:
df[(df['SEXO']=='Hombre')& (df['PERIODO']>=2018)].count()

RESIDENCIA       595765
UBIGEO_RENIEC    590925
UBIGEO_INEI      558618
CONTINENTE       595765
PAIS             595765
DEPARTAMENTO     558618
PROVINCIA        558618
DISTRITO         558618
SEXO             595765
EDAD             595765
CANTIDAD         595765
PERIODO          595765
dtype: int64

## From  2016 through 2018 and  in the  department of Arequipa.  What  percentage of women represent female teenagers? [Hint: a teenager is a person whose  age is between 10 to 19 years]

In [103]:
 df_2016_N[(df_2016_N['EDAD']>=10) & (df_2016_N['EDAD']<=19)].count()

RESIDENCIA       38012
UBIGEO_RENIEC    38012
UBIGEO_INEI      38012
CONTINENTE       38012
PAIS             38012
DEPARTAMENTO     38012
PROVINCIA        38012
DISTRITO         38012
SEXO             38012
EDAD             38012
CANTIDAD         38012
PERIODO          38012
dtype: int64

In [104]:
 df_2016_N.loc[ df_2016_N['EDAD'].between(10,19) ].count()

RESIDENCIA       38012
UBIGEO_RENIEC    38012
UBIGEO_INEI      38012
CONTINENTE       38012
PAIS             38012
DEPARTAMENTO     38012
PROVINCIA        38012
DISTRITO         38012
SEXO             38012
EDAD             38012
CANTIDAD         38012
PERIODO          38012
dtype: int64

In [105]:
df_2017_N[(df_2017_N['EDAD']>=10) & (df_2017_N['EDAD']<=19)].count()

RESIDENCIA       43372
UBIGEO_RENIEC    43372
UBIGEO_INEI      43372
CONTINENTE       43372
PAIS             43372
DEPARTAMENTO     43372
PROVINCIA        43372
DISTRITO         43372
SEXO             43372
EDAD             43372
CANTIDAD         43372
PERIODO          43372
dtype: int64

In [106]:
df_2018_N[(df_2018_N['EDAD']>=10) & (df_2018_N['EDAD']<=19)].count()

RESIDENCIA       43843
UBIGEO_RENIEC    43843
UBIGEO_INEI      43843
CONTINENTE       43843
PAIS             43843
DEPARTAMENTO     43843
PROVINCIA        43843
DISTRITO         43843
SEXO             43843
EDAD             43843
CANTIDAD         43843
PERIODO          43843
dtype: int64

In [107]:
df[(df['PERIODO']==2016) & (df['EDAD']>=10)| (df['EDAD']<=19)].count()

RESIDENCIA       849872
UBIGEO_RENIEC    847981
UBIGEO_INEI      835514
CONTINENTE       849872
PAIS             849872
DEPARTAMENTO     835514
PROVINCIA        835514
DISTRITO         835514
SEXO             849872
EDAD             849872
CANTIDAD         849872
PERIODO          849872
dtype: int64

In [108]:
df[((df['PERIODO']==2016) & (df['EDAD']>=10)) | (df['EDAD']<=19)].count()

RESIDENCIA       849872
UBIGEO_RENIEC    847981
UBIGEO_INEI      835514
CONTINENTE       849872
PAIS             849872
DEPARTAMENTO     835514
PROVINCIA        835514
DISTRITO         835514
SEXO             849872
EDAD             849872
CANTIDAD         849872
PERIODO          849872
dtype: int64

In [109]:
 df.loc[ df['EDAD'].between(10,19)  & df['PERIODO']==2016].count()

RESIDENCIA       0
UBIGEO_RENIEC    0
UBIGEO_INEI      0
CONTINENTE       0
PAIS             0
DEPARTAMENTO     0
PROVINCIA        0
DISTRITO         0
SEXO             0
EDAD             0
CANTIDAD         0
PERIODO          0
dtype: int64

In [110]:
 df[
    df['PERIODO'].isin([2016]) |
    df['EDAD'].isin([10, 19])
].count()

RESIDENCIA       409314
UBIGEO_RENIEC    409110
UBIGEO_INEI      407646
CONTINENTE       409314
PAIS             409314
DEPARTAMENTO     407646
PROVINCIA        407646
DISTRITO         407646
SEXO             409314
EDAD             409314
CANTIDAD         409314
PERIODO          409314
dtype: int64

In [111]:

years = [2016,2017,2018]
df[
    (df['PERIODO'].isin(years)) &
    (df['EDAD'].between(10, 19))
].count()

RESIDENCIA       125227
UBIGEO_RENIEC    125227
UBIGEO_INEI      125227
CONTINENTE       125227
PAIS             125227
DEPARTAMENTO     125227
PROVINCIA        125227
DISTRITO         125227
SEXO             125227
EDAD             125227
CANTIDAD         125227
PERIODO          125227
dtype: int64

## From 2014 through 2020, which  year the average age of elderly  people  (age equal or greather than 60 years) identified was the higher?

In [112]:

df[
    (df['PERIODO']>=2014) &
    (df['EDAD']>=60)
].count()

RESIDENCIA       962616
UBIGEO_RENIEC    959614
UBIGEO_INEI      943459
CONTINENTE       962616
PAIS             962616
DEPARTAMENTO     943459
PROVINCIA        943459
DISTRITO         943459
SEXO             962616
EDAD             962616
CANTIDAD         962616
PERIODO          962616
dtype: int64